<html>
<body background="https://image.freepik.com/free-vector/white-canvas-background_1053-239.jpg">
<head>
  <meta charset='utf-8'>
  <title>Attendees</title>
</head>
<body>
  <table border="1">
  <tr><th>First Name</th><th>Last Name</th><th>Email</th><th>Zip Code</th>
  <th>City</th><th>State</th><th>Street</th><th>Home Phone</th></tr>
    <% @find_matches.each do |att| %>
      <tr>
        <td><%= "#{att.first_name}" %></td>
        <td><%= "#{att.last_name}" %></td>
        <td><%= "#{att.email}" %></td>
        <td><%= "#{att.zip}" %></td>
        <td><%= "#{att.city}" %></td>
        <td><%= "#{att.state}" %></td>
        <td><%= "#{att.street}" %></td>
        <td><%= "#{att.phone}" %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>
